<h1>Editing Book</h1>
<% if @book.errors.any? %>
	<%= @book.errors.count %> error prohibited this obj from being saved:
	<br>
	<% @book.errors.full_messages.each do |message| %>
	 <%= message %>
	<% end %>
<% end %>
<%= form_for(@book) do |f| %>
	<p>Title</p>
	  <%= f.text_field :title %>
	<p>Opinion</p>
	  <%= f.text_area :body %>
	  <%= f.submit 'Update Book' %>
<% end %>

<p>
	<%= link_to 'Show', book_path(@book.id) %>
	|
	<%= link_to 'Back', books_path %>
</p>